<nav id="sidebar-icon-links">
  <p>Contact/follow me:<br>
    {% if site.links.email %}
      <a href="mailto:{{ site.links.email }}" target="_blank"><i class="fa fa-envelope fa-lg"></i></a> &middot 
    {% endif %}

    {% if site.links.github %}
      <a href="{{ site.links.github }}" target="_blank"><i class="fa fa-github fa-lg"></i></a> &middot 
    {% endif %}

    {% if site.links.twitter %}
      <a href="{{ site.links.twitter }}" target="_blank"><i class="fa fa-twitter fa-lg"></i></a> &middot 
    {% endif %}

    {% if site.links.linkedin %}
      <a href="{{ site.links.linkedin }}" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a> &middot 
    {% endif %}

    {% if site.links.medium %}
      <a href="{{ site.links.medium }}" target="_blank"><i class="fa fa-medium fa-lg"></i></a> &middot 
    {% endif %}
  </p>
</nav>
