<nav id="sidebar-icon-links">
  <p>Contact/follow me:<br>
    {% if site.links.email %}
      <a href="mailto:{{ site.links.email }}" target="_blank"><i class="fa-regular fa-envelope-open fa"></i></a> &middot 
    {% endif %}

    {% if site.links.github %}
      <a href="{{ site.links.github }}" target="_blank"><i class="fa-brands fa-github fa"></i></a> &middot 
    {% endif %}

    {% if site.links.twitter %}
      <a href="{{ site.links.twitter }}" target="_blank"><i class="fa-brands fa-x-twitter fa"></i></a> &middot 

    {% endif %}

    {% if site.links.linkedin %}
      <a href="{{ site.links.linkedin }}" target="_blank"><i class="fa-brands fa-linkedin-in fa"></i></a>
    {% endif %}
  </p>
</nav>
